body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 3rem;
  background-color: black;
}

.container {
  background-color: azure;
  border-radius: 2rem;
  /* box-shadow: 10px 10px grey; */
  width: 600px;
  height: 600px;
  text-align: center;
  border: 5px solid grey;
}

.top {
  background-color: aqua;
  border: 2px solid red;
}
