body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 3rem;
  background-color: black;
}

.container {
  background-color: azure;
  border-radius: 50%;
  box-shadow: 10px 10px grey;
  width: 700px;
  height: 700px;
  text-align: center;
  border: 5px solid grey;
}

.clockTop {
  padding: 1rem;
}

.clockMiddle {
  padding: 1rem;
}

.clockBottom {
  padding: 1rem;
}
